# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

serie_temperatura = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                                 index=['1900', '1920', '1940', '1960', '1980', '2000', '2020'])
print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
temperatura = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

serie_temperatura = pd.Series(temperatura, index=anos)
print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

serie_temperatura = pd.Series(dic_temperaturas)
print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr)
print(df)

             0           1           2
0    93.311421  102.423010  120.599206
1    87.322809   97.426465   98.684934
2   102.713196   89.524124   89.832338
3   102.586685   94.440930  104.417914
4    96.719122   98.683929  101.479712
5    94.330584   90.779733   98.872947
6    96.392724   89.649321  113.436422
7    94.120172   95.607611  106.201400
8   110.642796  100.107974   92.254743
9   110.842571  100.544173   99.494026
10   94.718914   99.314722   88.277885
11  104.318823  109.069414  100.317435
12   99.496079   95.532971  106.932165
13   99.191827  105.518650   83.941204
14  118.348829  113.015485   93.178029
15   88.765336   92.329660  106.275042
16  109.282354   92.906672   71.674523
17  108.299303  103.335713   99.353677
18  112.427001  113.583554   92.032358
19   94.079789  108.055159  106.204012

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
df.index = range(1, 21)
df.columns = ["x1", "x2", "x3"]
print(df)

            x1          x2          x3
1    93.311421  102.423010  120.599206
2    87.322809   97.426465   98.684934
3   102.713196   89.524124   89.832338
4   102.586685   94.440930  104.417914
5    96.719122   98.683929  101.479712
6    94.330584   90.779733   98.872947
7    96.392724   89.649321  113.436422
8    94.120172   95.607611  106.201400
9   110.642796  100.107974   92.254743
10  110.842571  100.544173   99.494026
11   94.718914   99.314722   88.277885
12  104.318823  109.069414  100.317435
13   99.496079   95.532971  106.932165
14   99.191827  105.518650   83.941204
15  118.348829  113.015485   93.178029
16   88.765336   92.329660  106.275042
17  109.282354   92.906672   71.674523
18  108.299303  103.335713   99.353677
19  112.427001  113.583554   92.032358
20   94.079789  108.055159  106.204012

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
df["media"] = df.mean(axis=1)
print(df)

            x1          x2          x3       media
1    93.311421  102.423010  120.599206  105.444546
2    87.322809   97.426465   98.684934   94.478070
3   102.713196   89.524124   89.832338   94.023219
4   102.586685   94.440930  104.417914  100.481843
5    96.719122   98.683929  101.479712   98.960921
6    94.330584   90.779733   98.872947   94.661088
7    96.392724   89.649321  113.436422   99.826156
8    94.120172   95.607611  106.201400   98.643061
9   110.642796  100.107974   92.254743  101.001838
10  110.842571  100.544173   99.494026  103.626923
11   94.718914   99.314722   88.277885   94.103840
12  104.318823  109.069414  100.317435  104.568557
13   99.496079   95.532971  106.932165  100.653739
14   99.191827  105.518650   83.941204   96.217227
15  118.348829  113.015485   93.178029  108.180781
16   88.765336   92.329660  106.275042   95.790012
17  109.282354   92.906672   71.674523   91.287850
18  108.299303  103.335713   99.353677  103.662897
19  112.427001  113.583554   92.032358  106.014304
20   94.079789  108.055159  106.204012  102.779654

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
df["log_med"] = np.log(df["media"])
print(df)

            x1          x2          x3       media   log_med
1    93.311421  102.423010  120.599206  105.444546  4.658185
2    87.322809   97.426465   98.684934   94.478070  4.548368
3   102.713196   89.524124   89.832338   94.023219  4.543542
4   102.586685   94.440930  104.417914  100.481843  4.609977
5    96.719122   98.683929  101.479712   98.960921  4.594725
6    94.330584   90.779733   98.872947   94.661088  4.550303
7    96.392724   89.649321  113.436422   99.826156  4.603430
8    94.120172   95.607611  106.201400   98.643061  4.591508
9   110.642796  100.107974   92.254743  101.001838  4.615139
10  110.842571  100.544173   99.494026  103.626923  4.640797
11   94.718914   99.314722   88.277885   94.103840  4.544399
12  104.318823  109.069414  100.317435  104.568557  4.649843
13   99.496079   95.532971  106.932165  100.653739  4.611686
14   99.191827  105.518650   83.941204   96.217227  4.566608
15  118.348829  113.015485   93.178029  108.180781  4.683804
16   88.765336   92.329660  106.275042   95.790012  4.562158
17  109.282354   92.906672   71.674523   91.287850  4.514018
18  108.299303  103.335713   99.353677  103.662897  4.641144
19  112.427001  113.583554   92.032358  106.014304  4.663574
20   94.079789  108.055159  106.204012  102.779654  4.632587